/* frontend/src/components/ConfirmationScreen.css */
.confirmation-page {
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #aaa;
  margin: auto;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.confirmation-box {
  background: #fff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.confirmation-box h1 {
  font-size: 2.5rem;
  color: #4CAF50; /* Green */
  margin-bottom: 20px;
}

.order-number {
  font-size: 1.2rem;
  color: #555;
}

.order-id {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  margin: 10px 0 20px 0;
}

.wait-message {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.redirect-message {
  font-size: 1rem;
  color: #888;
}